source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget Pathoschild.Stardew.ModBuildConfig

group Tests

source https://nuget.org/api/v2

nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter
